body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0f2f5;
}
main {
  margin-top: 80px;
  max-width: 600px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.confirmation {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}

a.return {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a.return:hover {
  text-decoration: underline;
}
